.wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.userPhoto {
    width: 100px;
    height: 100px;
}
.userWrapper {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 300px;
}
.userWrapper span{
    cursor: pointer;
}

.userDescription {
    margin: 10px;
}
.userName {
    font-size: 18px;
    font-weight: bold;
}
.userCountry {
    font-style: oblique;
    color: gray;
}
.followBtn {
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.selectedPage{
    font-weight: bold;
    font-size: 18px;
}