.wrapper {
    padding: 20px;
}
.userPhoto {
    width: 100px;
    height: 100px;
}
.userWrapper {
    display: flex;
    margin-bottom: 20px;
}
.userWrapper span{
    cursor: pointer;
}

.pages {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    margin-top: 10px;
}
.pages span{
    padding: 2px;
}

.userDescription {
    margin: 10px;
}
.userName {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.userCountry {
    font-style: oblique;
    color: gray;
}
.followBtn {
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.selectedPage{
    font-weight: bold;
    font-size: 18px;
}