.postsBlock {
    padding: 10px;
}
.posts {
    padding: 10px;
    width: 250px;
}
.item textarea {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
}
.item button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}