.header {
    grid-area: h;
    background-color: #13CE66;
    border-radius: 5px;
  }
.header img {
  width: 100px;
}
.loginBlock{
  float: right;
  margin: 5px 10px;
  cursor: pointer;
}
.loginBlock a{
  color: black;
  cursor: pointer;
  text-decoration: none;
}