.nav {
  grid-area: n;
  background-color: #00cc00;
  padding: 20px;
}
.nav .item {
  color: white;
}
.nav a{
  text-decoration: none;
}

.nav .active {
  color: black;
  font-size: 18px;
  font-weight: bold;
}