.nav {
  grid-area: n;
  background-color: #edf2f6;
  padding: 20px;
  border-radius: 5px;
  min-width: 160px;
}
.item {
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
}
.item a.active {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}




.itemFriends {
  margin-top: 250px;
  color: black;
  text-decoration: none;
}
.itemFriends .active {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.itemFriend {
  margin: 17px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.itemFriend img{
  width: 50px;
}
.itemFriend div{
  margin-bottom: 10px;
}



.itemSettings {
  margin-top: 40px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
.itemSettings .active {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
