.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.messages {
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    text-align: center;
    word-wrap: break-word;
}

.messages .item {
    text-align: center;
    margin-top: 100px;
}
.messages textarea {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}
.messages button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}